.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #FBFACD;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #7F669D;
  font-size: 5rem;
  color: #BA94D1;
}
button {
  border-radius: 5px;
  background-color: #DEBACE;
  border: 2px solid #7F669D;
}

p {
  font-size: 2rem;
  color: #7F669D;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #DEBACE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
